body{
    background-color: rgb(236, 239, 247);
}
.nav-wrapper{
margin-top: 30px;
background-color: rgb(62, 161, 115);
box-shadow: rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px;
}

.card{
    margin-top: 50px;    
}

.img-avatar{
    padding-top: 10px;
    padding-left: 10px;
    width: 70px;
    height: 60px;
}

.img-card{
    width: 305px;
    height: 406px;


}
/** efeito ao passar o cursor pelo mouse
**/
.card:hover
{ background-color:#fdfffd;
       
        box-shadow:rgb(92, 92, 92) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px

}

.page-footer{
background-color: rgb(98, 23, 148);
}